{% set title = 'About us' %}
{% set css = 'about-us.css' %}

{% extends 'templates/default.html' %}

{% block content %}
<div class="container about">
    <h1>About us</h1>
    <div class="main-image"></div>
    <div class="text-container">
        <h2>About us</h2>
        <p>Our company has come a long way from a simple exchange platform to a complex mechanism, which works smoothly. We have changed the perception of many people about cryptocurrency and its use. We introduced lots of interesting and useful technologies, which are helping us to protect your funds, and helping you to invest your funds with maximum benefit.</p>
        <p>World's first we created system, which helps you to buy, sell, transfer your funds inside our exchange in few seconds, you don't need to wait blockchain confirmation any more. In our Exchange your funds This one, and lots of another features makes trading in Trading Exchange very comfortable, useful and profitable. After making a deposit, your funds constantly are stored on the permanent wallet, no matter what manipulations you do with them. They are assigned to you in the internal system of our site, so you shouldn't pay a commission on the blockchain network during transfer, trading and other transactions.</p>
        <p>We are interested in cryptocurrencies and we believe they will change the world and become the main currency in the future. We believe that cryptocurrencies will continue to grow and develop tirelessly, so we offer to invest in them right now, because even a very small investment changes the world.</p>
        <h2>Why is it necessary to invest in such currencies?</h2>
        <p>This excludes banks from the money exchange chain between stores and users, which significantly reduces the percentage of fees. Cryptocurrencies are anonymous, it is need, because when you are living in the 21st century, nobody can guarantee you 100% privacy. Your phone, your camera on your laptop, your speakers - all of this takes away from you your privacy, despite only you are owner of this information! In financial world only cryptocurrencies, thanks to their unique technology, can provide you anonymity and privacy. It's easy! By us, buying and selling cryptocurrencies has become much easier, which simplifies the work. It's profitable! Many people have earned lots of money in trading! Just become a part of these people!</p>
    </div>
    <div class="second-image"></div>
    <div class="text-container">
        <h2>Features</h2>
        <p>Our exchange allows users to create Market and Limit Orders for the sell/buy of the desired coin/token. For your convenience, all your transactions are collected in one place. You can see the history of operations in your personal account. Visually convenient Order Book is another advantage of our exchange.</p>
        <h2>Commissions</h2>
        <p>The convenience of using exchange lies in the low Deposit and Withdrawal limits, as well as in the same commissions for Limit and Market. VIP users will be able to save significantly on commissions, as they will be lower.</p>
        <h2>Privacy Policy</h2>
        <p>We take care of the security of our clients data and their electronic money stored on our exchange in accordance with the Personal Data Protection Regulation. The client can pass KYC verification for greater protection and convenience of solving various situations by the support service. Also, exchange users can pass the two-factor authentication procedure, which will significantly increase the protection of their Account. Read all the details on our Help Center page.</p>
    </div>
</div>
{% endblock %}