{% set title = 'About us' %}
{% set css = 'about-us.css' %}

{% extends 'templates/default.html' %}

{% block content %}
<div class="container about">
    <h1>About us</h1>
    <div class="main-image"></div>
    <div class="text-container">
        <h2>About us</h2>
        <p>Our company has come a long way from a simple exchange platform to a complex mechanism, which works smoothly. We have changed the perception of many people about cryptocurrency and its use. We introduced lots of interesting and useful technologies, which are helping us to protect your funds, and helping you to invest your funds with maximum benefit.</p>
        <p>World's first we created system, which helps you to buy, sell, transfer your funds inside our exchange in few seconds, you don't need to wait blockchain confirmation any more. In our Exchange your funds This one, and lots of another features makes trading in Trading Exchange very comfortable, useful and profitable. After making a deposit, your funds constantly are stored on the permanent wallet, no matter what manipulations you do with them. They are assigned to you in the internal system of our site, so you shouldn't pay a commission on the blockchain network during transfer, trading and other transactions.</p>
        <p>We are interested in cryptocurrencies and we believe they will change the world and become the main currency in the future. We believe that cryptocurrencies will continue to grow and develop tirelessly, so we offer to invest in them right now, because even a very small investment changes the world.</p>
        <h2>Why is it necessary to invest in such currencies?</h2>
        <p>This excludes banks from the money exchange chain between stores and users, which significantly reduces the percentage of fees. Cryptocurrencies are anonymous, it is need, because when you are living in the 21st century, nobody can guarantee you 100% privacy. Your phone, your camera on your laptop, your speakers - all of this takes away from you your privacy, despite only you are owner of this information! In financial world only cryptocurrencies, thanks to their unique technology, can provide you anonymity and privacy. It's easy! By us, buying and selling cryptocurrencies has become much easier, which simplifies the work. It's profitable! Many people have earned lots of money in trading! Just become a part of these people!</p>
    </div>
    <div class="second-image"></div>
    <div class="text-container">
        <h2>Features</h2>
        <p>Our exchange allows users to create Market and Limit Orders for the sell/buy of the desired coin/token. For your convenience, all your transactions are collected in one place. You can see the history of operations in your personal account. Visually convenient Order Book is another advantage of our exchange.</p>
        <h2>Commissions</h2>
        <p>The convenience of using exchange lies in the low Deposit and Withdrawal limits, as well as in the same commissions for Limit and Market. VIP users will be able to save significantly on commissions, as they will be lower.</p>
        <h2>Privacy Policy</h2>
        <p>We take care of the security of our clients data and their electronic money stored on our exchange in accordance with the Personal Data Protection Regulation. The client can pass KYC verification for greater protection and convenience of solving various situations by the support service. Also, exchange users can pass the two-factor authentication procedure, which will significantly increase the protection of their Account. Read all the details on our Help Center page.</p>
    </div>
</div>

<div class="tickets-toggle" data-bs-toggle="modal" data-bs-target="#tickets-list"></div>

<div class="modal" tabindex="-1" id="tickets-list">
    <div class="modal-dialog tickets-modal">
        <div class="modal-content notifications-drop">
            <div class="tickets-title">
                <p class="body1 white">Tickets</p>
                <div class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg width="14" height="14" viewBox="0 0 32 32" fill="#FCFCFD" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.05849 7.05459C7.57919 6.53389 8.42341 6.53389 8.94411 7.05459L16.0013 14.1118L23.0585 7.05459C23.5792 6.53389 24.4234 6.53389 24.9441 7.05459C25.4648 7.57529 25.4648 8.41951 24.9441 8.94021L17.8869 15.9974L24.9441 23.0546C25.4648 23.5753 25.4648 24.4195 24.9441 24.9402C24.4234 25.4609 23.5792 25.4609 23.0585 24.9402L16.0013 17.883L8.94411 24.9402C8.42341 25.4609 7.57919 25.4609 7.05849 24.9402C6.53779 24.4195 6.53779 23.5753 7.05849 23.0546L14.1157 15.9974L7.05849 8.94021C6.53779 8.41951 6.53779 7.57529 7.05849 7.05459Z"/>
                    </svg>
                </div>
            </div>
            <ul>
                <li data-bs-toggle="modal" data-bs-target="#ticket">
                    <div>
                        <p class="caption2 white">Login from new IP</p>
                        <p class="caption3-medium grey">2022-03-10 20:20:20</p>
                    </div>
                    <svg width="13px" height="13px">
                        <circle r="6" cx="7" cy="7" fill="#58BD7D"></circle>
                    </svg>
                </li>
                <li>
                    <div>
                        <p class="caption2 white">Login from new IP</p>
                        <p class="caption3-medium grey">2022-03-10 20:20:20</p>
                    </div>
                    <svg width="13px" height="13px">
                        <circle r="6" cx="7" cy="7" fill="#58BD7D"></circle>
                    </svg>
                </li>
                <li>
                    <div>
                        <p class="caption2 white">Login from new IP</p>
                        <p class="caption3-medium grey">2022-03-10 20:20:20</p>
                    </div>
                    <svg width="13px" height="13px">
                        <circle r="6" cx="7" cy="7" fill="#58BD7D"></circle>
                    </svg>
                </li>
                <li>
                    <div>
                        <p class="caption2 white">Login from new IP</p>
                        <p class="caption3-medium grey">2022-03-10 20:20:20</p>
                    </div>
                    <svg width="13px" height="13px">
                        <circle r="6" cx="7" cy="7" fill="#58BD7D"></circle>
                    </svg>
                </li>
                <li>
                    <div>
                        <p class="caption2 white">Login from new IP</p>
                        <p class="caption3-medium grey">2022-03-10 20:20:20</p>
                    </div>
                    <svg width="13px" height="13px">
                        <circle r="6" cx="7" cy="7" fill="#58BD7D"></circle>
                    </svg>
                </li>
                <li>
                    <div>
                        <p class="caption2 white">Login from new IP</p>
                        <p class="caption3-medium grey">2022-03-10 20:20:20</p>
                    </div>
                    <svg width="13px" height="13px">
                        <circle r="6" cx="7" cy="7" fill="#58BD7D"></circle>
                    </svg>
                </li>
            </ul>
            <button class="button2 white grey-button2" data-bs-toggle="modal" data-bs-target="#new-ticket">New ticket</button>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="new-ticket">
    <div class="modal-dialog tickets-modal">
        <div class="modal-content notifications-drop">
            <div class="tickets-title new-ticket">
                <p class="body1 white">New ticket</p>
                <div class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg width="14" height="14" viewBox="0 0 32 32" fill="#FCFCFD" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.05849 7.05459C7.57919 6.53389 8.42341 6.53389 8.94411 7.05459L16.0013 14.1118L23.0585 7.05459C23.5792 6.53389 24.4234 6.53389 24.9441 7.05459C25.4648 7.57529 25.4648 8.41951 24.9441 8.94021L17.8869 15.9974L24.9441 23.0546C25.4648 23.5753 25.4648 24.4195 24.9441 24.9402C24.4234 25.4609 23.5792 25.4609 23.0585 24.9402L16.0013 17.883L8.94411 24.9402C8.42341 25.4609 7.57919 25.4609 7.05849 24.9402C6.53779 24.4195 6.53779 23.5753 7.05849 23.0546L14.1157 15.9974L7.05849 8.94021C6.53779 8.41951 6.53779 7.57529 7.05849 7.05459Z"/>
                    </svg>
                </div>
            </div>
            <label for="ticket-category" class="hairline2" style="color:#B1B5C4">Category</label>
            <input type="text" id="ticket-category" class="ticket-input caption-bold white">
            <label for="ticket-subject" class="hairline2" style="color:#B1B5C4">Subject</label>
            <input type="text" id="ticket-subject" class="ticket-input caption-bold white">
            <label for="ticket-message" class="hairline2" style="color:#B1B5C4">Message</label>
            <textarea type="text" id="ticket-message" class="ticket-input caption-bold white"></textarea>
            <button class="button2 white blue-button">Create ticket</button>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="ticket">
    <div class="modal-dialog tickets-modal">
        <div class="modal-content notifications-drop">
            <div class="tickets-title new-ticket">
                <p class="body1 white">Ticket #2343</p>
                <div class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg width="14" height="14" viewBox="0 0 32 32" fill="#FCFCFD" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.05849 7.05459C7.57919 6.53389 8.42341 6.53389 8.94411 7.05459L16.0013 14.1118L23.0585 7.05459C23.5792 6.53389 24.4234 6.53389 24.9441 7.05459C25.4648 7.57529 25.4648 8.41951 24.9441 8.94021L17.8869 15.9974L24.9441 23.0546C25.4648 23.5753 25.4648 24.4195 24.9441 24.9402C24.4234 25.4609 23.5792 25.4609 23.0585 24.9402L16.0013 17.883L8.94411 24.9402C8.42341 25.4609 7.57919 25.4609 7.05849 24.9402C6.53779 24.4195 6.53779 23.5753 7.05849 23.0546L14.1157 15.9974L7.05849 8.94021C6.53779 8.41951 6.53779 7.57529 7.05849 7.05459Z"/>
                    </svg>
                </div>
            </div>
            <table class="ticket-info">
                <tr class="">
                    <td class="caption2-bold white">Date:</td>
                    <td class="caption2 white">2021-03-10</td>
                </tr>
                <tr class="">
                    <td class="caption2-bold white">E-mail:</td>
                    <td class="caption2 white">youremail@gmail.com</td>
                </tr>
                <tr class="">
                    <td class="caption2-bold white">Topic:</td>
                    <td class="caption2 white">Help.</td>
                </tr>
                <tr class="">
                    <td class="caption2-bold white">Category:</td>
                    <td class="caption2 white">Withdraw problem.</td>
                </tr>
                <tr class="">
                    <td class="caption2-bold white">Status:</td>
                    <td class="caption2 yellow">Prosessing</td>
                </tr>
            </table>
            <button class="grey-button button2 white" data-bs-toggle="modal" data-bs-target="#ticket-chat">Open chat</button>
            <button class="grey-button button2 white close-ticket" data-bs-dismiss="modal" aria-label="Close">Close ticket</button>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="ticket-chat">
    <div class="modal-dialog tickets-modal">
        <div class="modal-content notifications-drop">
            <div class="tickets-title new-ticket">
                <p class="body1 white">Comments</p>
                <div class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg width="14" height="14" viewBox="0 0 32 32" fill="#FCFCFD" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.05849 7.05459C7.57919 6.53389 8.42341 6.53389 8.94411 7.05459L16.0013 14.1118L23.0585 7.05459C23.5792 6.53389 24.4234 6.53389 24.9441 7.05459C25.4648 7.57529 25.4648 8.41951 24.9441 8.94021L17.8869 15.9974L24.9441 23.0546C25.4648 23.5753 25.4648 24.4195 24.9441 24.9402C24.4234 25.4609 23.5792 25.4609 23.0585 24.9402L16.0013 17.883L8.94411 24.9402C8.42341 25.4609 7.57919 25.4609 7.05849 24.9402C6.53779 24.4195 6.53779 23.5753 7.05849 23.0546L14.1157 15.9974L7.05849 8.94021C6.53779 8.41951 6.53779 7.57529 7.05849 7.05459Z"/>
                    </svg>
                </div>
            </div>
            <div class="messages">
                <div class="message-block left-message">
                    <img class="message-block__user-image" src="img/account-image.png" alt="" width="29px" height="29px">
                    <div class="message-block__messages">
                        <div class="message message-text">Hello there.</div>
                        <div class="message message-text">I need some help.</div>
                    </div>
                </div>
                <div class="message-block right-message">
                    <img class="message-block__user-image" src="img/account-image.png" alt="" width="29px" height="29px">
                    <div class="message-block__messages">
                        <div class="message message-text">Good day.</div>
                        <div class="message message-text">Your situation is under review. Please wait. We will contact you shortly.</div>
                    </div>
                </div>
                <div class="message-block left-message">
                    <img class="message-block__user-image" src="img/account-image.png" alt="" width="29px" height="29px">
                    <div class="message-block__messages">
                        <div class="message message-text">Hello there.</div>
                        <div class="message message-text">I need some help.</div>
                    </div>
                </div>
                <div class="message-block right-message">
                    <img class="message-block__user-image" src="img/account-image.png" alt="" width="29px" height="29px">
                    <div class="message-block__messages">
                        <div class="message message-text">Good day.</div>
                        <div class="message message-text">Your situation is under review. Please wait. We will contact you shortly.</div>
                    </div>
                </div>
            </div>
            <div class="send-message">
                <textarea class="message-text" placeholder="Type message..."></textarea>
                <div class="send-message__bottom-block">
                    <div class="icons"></div>
                    <button class="blue-button">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}