{% set title = 'Faq' %}
{% set css = 'faq.css' %}

{% extends 'templates/default.html' %}

{% block content %}
<div class="container faq">
    <div class="badge">
        <svg class="new-notification" width="8px" height="8px">
            <circle r="4" cx="4" cy="4" fill="#DC2626"></circle>
        </svg>
        <span>FAQ</span>
    </div>
    <h2>Frequently Asked Questions</h2>
    <p>We are here to explain everything you might want to know. Let us help!</p>
    <div class="questions">
        <div class="question-answer">
            <div class="question-block">
                <h3>What is cryptocurrency?</h3>
                <div class="toggle-close toggle"></div>
            </div>
            <p class="answer">Cryptocurrency is a type of virtual currency that uses cryptography to secure transactions that are digitally recorded on a distributed ledger, such as a blockchain.  A transaction involving cryptocurrency that is recorded on a distributed ledger is referred to as an “on-chain” transaction; a transaction that is not recorded on the distributed ledger is referred to as an “off-chain” transaction.</p>
        </div>
        <div class="question-answer">
            <div class="question-block">
                <h3>How do I determine if my gain or loss is a short-term capital gain or loss?</h3>
                <div class="toggle-close toggle"></div>
            </div>
            <p class="answer">Cryptocurrency is a type of virtual currency that uses cryptography to secure transactions that are digitally recorded on a distributed ledger, such as a blockchain.  A transaction involving cryptocurrency that is recorded on a distributed ledger is referred to as an “on-chain” transaction; a transaction that is not recorded on the distributed ledger is referred to as an “off-chain” transaction.</p>
        </div>
        <div class="question-answer">
            <div class="question-block">
                <h3>How do I determine if my gain or loss is a short-term capital gain or loss?</h3>
                <div class="toggle-close toggle"></div>
            </div>
            <p class="answer">Cryptocurrency is a type of virtual currency that uses cryptography to secure transactions that are digitally recorded on a distributed ledger, such as a blockchain.  A transaction involving cryptocurrency that is recorded on a distributed ledger is referred to as an “on-chain” transaction; a transaction that is not recorded on the distributed ledger is referred to as an “off-chain” transaction.</p>
        </div>
        <div class="question-answer">
            <div class="question-block">
                <h3>How do I determine if my gain or loss is a short-term capital gain or loss?</h3>
                <div class="toggle-close toggle"></div>
            </div>
            <p class="answer">Cryptocurrency is a type of virtual currency that uses cryptography to secure transactions that are digitally recorded on a distributed ledger, such as a blockchain.  A transaction involving cryptocurrency that is recorded on a distributed ledger is referred to as an “on-chain” transaction; a transaction that is not recorded on the distributed ledger is referred to as an “off-chain” transaction.</p>
        </div>
    </div>
</div>
{% endblock %}