{% set title = 'Forgot password' %}
{% set css = 'forgot-password-3.css' %}

{% extends 'templates/auth.html' %}

{% block ifnot %}
<span>Don’t have an account?</span>
<a href="">Sign up for free</a>
{% endblock %}

{% block content %}
<div class="auth fp3">
  <h2>New password</h2>
  <form action="">
    <label>
      email
      <input type="email" value="useremail@gmail.com" readonly>
    </label>
    <label>
      new password
      <div class="password">
        <input type="password" placeholder="Password" name="password">
        <button class="eye" type="button"></button>
      </div>
    </label>
    <label>
      confirm password
      <div class="password">
        <input type="password" placeholder="Password" name="password">
        <button class="eye" type="button"></button>
      </div>
    </label>
    <input type="submit" value="Continue">
  </form>
</div>
{% endblock %}