{% set title = 'Forgot password' %}
{% set css = 'forgot-password-2.css' %}

{% extends 'templates/auth.html' %}

{% block ifnot %}
<span>Don’t have an account?</span>
<a href="">Sign up for free</a>
{% endblock %}

{% block content %}
<div class="auth fp2">
  <h2>Security verification</h2>
  <form action="">
    <span class="first-text">To secure your account, please complete the following verification.</span>
    <span class="second-text">Enter the 4 digit code you received</span>
    <div class="inputs">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="buttons">
      <button class="grey-button">Resend code</button>
      <input type="submit" value="Continue" id="continue">
    </div>
  </form>
</div>
{% endblock %}