{% set title = 'Sign up' %}
{% set css = 'sign-up.css' %}

{% extends 'templates/auth.html' %}

{% block ifnot %}
<span>Already have an account?</span>
<a href="">Login</a>
{% endblock %}

{% block content %}
<div class="auth sign-up">
  <h2>Sign up</h2>
  <form action="">
    <label>
      email
      <input type="email" placeholder="Email address">
    </label>
    <label>
      password
      <div class="password">
        <input type="password" placeholder="Password" name="password">
        <button class="eye" type="button"></button>
      </div>
    </label>
    <label>
      confirm password
      <div class="password">
        <input type="password" placeholder="Password" name="password">
        <button class="eye" type="button"></button>
      </div>
    </label>
    <div class="checkbox-block">
      <div class="checkbox">
        <input type="checkbox" required checked>
        <div class="custom-checkbox"></div>
      </div>
      <p class="check">By signing up I agree that I’m 18 years of age or older, to the <a href="" class="check">User Agreements, Privacy Policy, Cookie Policy.</a></p>
    </div>
    <input type="submit" value="Continue">
  </form>
</div>
{% endblock %}