{% set title = 'Welcome bonus' %}

{% extends 'templates/default.html' %}

{% block content %}
<div class="container about welcome-bonus">
    <h1>Welcome bonus</h1>
    <div class="main-image"></div>
    <div class="text-container">
        <h2>Welcome bonus for new users</h2>
        <p>Our policy is customer and user loyalty.
            <br>
            <br>
            <br>
            We provide a bonus in the form of 0.1 BTC to all new users of the platform.
            These tools will help you master the knowledge of trading, cryptocurrencies, investments.</p>
        <a class="blue-button button1 white welcome-bonus__button">Get bonus on your balance   ></a>
    </div>
</div>
{% endblock %}