$header-split: #23262F
$nav: #777E91
$text-separators: #353945

header
  width: 100%
  height: 80px
  border-bottom: 1px solid $header-split
  display: flex
  justify-content: center
  align-items: center
  @media screen and (max-width: 768px)
    border: none
    padding-top: 32px

.header-container
  width: ((1440 - 2 * 80) / 1440) * 100vw
  height: 40px
  display: flex
  align-items: center
  justify-content: space-between

.left-block
  display: flex
  height: 100%

.logo
  display: flex
  align-items: center
  margin-right: 40 / 1440 * 100vw

.logo-image
  pointer-events: none
  user-select: none

.logo-text
  color: #FCFCFD
  font-family: 'Poppins', sans-serif
  font-size: 24px
  font-weight: 600
  margin-left: 8px
  user-select: none

.header-nav
  display: flex
  align-items: center
  border-left: 1px solid $text-separators
  padding-left: 40 / 1440 * 100vw
  @media screen and (max-width: 768px)
    display: none
  > *
    height: 100%
    display: flex
    align-items: center
    &:not(:last-child)
      margin-right: 48px

#header-open
  display: none
  @media screen and (max-width: 1024px)
    display: block

.header-open
  display: none
  @media screen and (max-width: 1024px)
    display: flex

.nav-element
  font-family: 'DM Sans', sans-serif
  color: $nav
  font-size: 14px
  vertical-align: middle
  cursor: pointer
  transition: 0.1s
  &:not(.nl)
    @media screen and (max-width: 1024px)
      display: none
  span
    color: inherit
  &:hover
    color: scale-color($nav, $lightness: 20%)

.nl
  @media screen and (max-width: 1024px)
    margin-right: 20px !important

.element-with-arrow
  background-image: url("../img/arrow-down.svg")
  background-repeat: no-repeat
  background-position: right center
  padding-right: 15px

.right-block
  width: 180px
  height: 100%
  display: flex
  justify-content: space-between
  align-items: center
  @media screen and (max-width: 768px)
    width: 140px
  > a
    @media screen and (max-width: 768px)
      display: none

.notifications
  height: 40px
  width: 40px
  background-image: url(../img/notification.svg)
  background-repeat: no-repeat
  background-position: center center
  cursor: pointer

.new-notification
  float: right

.grey-button
  font-family: "DM Sans", sans-serif
  color: #FCFCFD
  background: none
  font-size: 14px
  border: 2px solid $nav
  border-radius: 90px
  padding: 6px 16px
  transition: 0.1s
  &:hover
    color: #FCFCFD
    border-color: scale-color(#777E91, $lightness: 20%)


.account-image
  width: 40px
  height: 40px
  background-image: url(../img/account-image.png)
  background-size: 100%
  border-radius: 100%
  cursor: pointer
  @media screen and (max-width: 768px)
    width: 32px
    height: 32px

.blue-button
  font-family: "DM Sans", sans-serif
  color: #fff
  background: #1DAEEF
  font-size: 14px
  border: 2px solid #1DAEEF
  border-radius: 90px
  padding: 9px 16px
  transition: 0.1s
  &:hover
    color: #fff
    background: scale-color(#1DAEEF, $lightness: -10%)
    border-color: scale-color(#1DAEEF, $lightness: -10%)

.burger
  display: none
  height: 32px
  width: 32px
  background-image: url(../img/burger-menu.svg)
  background-position: center
  @media screen and (max-width: 768px)
    display: block

.burger-menu
  height: calc(100vh - 80px)
  z-index: 100
  width: 100vw
  background-color: inherit
  position: fixed
  left: 100%
  transition: 0.3s
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  .element-with-arrow
    background-size: 12px auto
    background-position: 90% center
  .burger-navigation
    width: 100%
    margin-top: 56px
  .burger-menu__button
    margin-bottom: 44px

.burger-nav__element
  padding: 16px 30 / 375 * 100% 16px 30 / 375 * 100%
  border-left: 2px solid rgba(0,0,0,0)
  box-sizing: border-box
  width: 100%
  transition: 0.1s
  &:hover
    color: #FCFCFD !important
    border-color: #1DAEEF

.dropdown-orders
  position: relative
  &:hover
    .dropdown-container
      display: block
    .point
      display: block

.dropdown-container
  display: none
  padding: 0 16px
  background: #23262F
  border-radius: 12px
  position: absolute
  width: 256px
  left: -100px
  top: 100%
  z-index: 999
  a
    display: flex
    padding: 16px 0
    transition: 0.1s
    width: 100%
    > svg
      margin-right: 8px
      transition: 0.1s
    &:not(:last-child)
      border-bottom: 1px solid #353945
    &:hover
      color: #FCFCFD
      > svg
        fill: #FCFCFD

.point
  position: absolute
  left: 0
  right: 0
  padding: 0 20px
  bottom: 100%
  margin: 0 auto
  display: none

.notifications-drop
  background: #23262F
  padding: 16px
  border-radius: 24px
  width: 318px
  right: -45px !important
  .point
    display: block
    left: 60%
  a
    width: 100%
    text-align: center
  ul
    margin-top: 16px
    margin-bottom: 12px
    li
      display: flex
      justify-content: space-between
      padding-bottom: 12px
      &:not(:last-child)
        border-bottom: 1px solid #353945
        margin-bottom: 12px
      p
        margin: 0

.account-drop
  background: #23262F
  border-radius: 24px
  width: 256px
  padding: 0
  border: none
  right: -45px !important
  top: 10px !important
  .point
    display: block
    left: 50%
  ul
    border-radius: 24px
    overflow: hidden
    border: none
  li
    position: relative
    &:not(:first-child):after
      position: absolute
      content: ''
      width: 224px
      height: 1px
      border: none
      background: #353945
      top: 0
      left: 0
      right: 0
      margin: 0 auto
  a
    display: flex
    padding-top: 18px
    padding-bottom: 12px
    transition: 0.1s
    &:hover
      background-color: #353945
    svg
      margin-right: 8px
    p
      margin: 0

.burger-dropdown:hover
  .burger-nav__element
    color: #FCFCFD !important
    border-color: #1DAEEF
  .burger-dropdown-container
    display: block

.burger-dropdown-container
  display: none
  svg
    margin-right: 13px
  a
    margin-left: 8%
    padding: 16px
    width: 85%
    border-radius: 8px
    transition: 0.1s
    &:hover
      background: #353945

.burger-buttons
  display: flex
  margin-bottom: 44px
  .blue-button
    margin-right: 8px
  a
    display: flex
    align-items: center
