@import "auth", "header", "footer", about-us, faq, fees, forgot-password-1, forgot-password-2, forgot-password-3, home-login
@import home-not-login, privacy-policy, referral, risk, security, sign-in, sign-in2, sign-up, sign-up2, sign-up3, terms-of-use

$main-background: #141416

body
  background: $main-background

*
  margin: 0
  padding: 0
  border: 0

h1, h2, h3, span
  color: #FCFCFD
  font-family: "DM Sans", sans-serif

h1
  font-size: 64px

h2
  font-size: 40px

h3
  font-size: 24px

p
  color: #9FA8BF
  font-family: "Poppins", sans-serif
  font-weight: 400
  font-size: 16px
  line-height: 24px

a
  text-decoration: none
  display: block
  width: fit-content
  cursor: pointer

img
  pointer-events: none

.container
  width: 1120 / 1440 * 100vw
  max-width: 1120px
  margin: 0 auto
  padding: 0
  @media screen and (max-width: 900px)
    width: 90vw

ol, ul
  padding: 0
  margin: 0

.white, .white:hover
  color: #FCFCFD

.grey, .grey:hover
  color: #777E91

.green, .green:hover
  color: #58BD7D

.red, .red:hover
  color: #FF6838

.gold, .gold:hover
  color: #FFD166

.black, .black:hover
  color: #23262F

.caption
  font-weight: 400
  font-size: 14px
  font-family: "Poppins", sans-serif

.caption-bold
  font-weight: 500
  font-size: 14px
  font-family: "Poppins", sans-serif

.caption2
  font-size: 12px
  line-height: 20px
  font-family: "Poppins", sans-serif

.caption2-medium
  font-weight: 500
  font-size: 12px
  line-height: 20px
  font-family: "Poppins", sans-serif

.caption2-bold
  font-weight: 600
  font-size: 12px
  line-height: 20px
  font-family: "Poppins", sans-serif

.caption3-medium
  font-weight: 500
  font-size: 10px
  line-height: 16px
  font-family: "Poppins", sans-serif

.body1
  font-weight: 600
  font-size: 24px
  font-family: "Poppins", sans-serif

.body2
  font-weight: 400
  font-size: 16px
  font-family: "Poppins", sans-serif

.body2-bold
  font-weight: 500
  font-size: 16px
  font-family: "Poppins", sans-serif

.button1
  font-weight: 700
  font-size: 16px
  font-family: "DM Sans", sans-serif

.button2
  font-weight: 700
  font-size: 14px
  font-family: "DM Sans", sans-serif

.headline2
  font-size: 48px
  font-weight: 700
  font-family: "DM Sans", sans-serif

.headline3
  font-size: 40px
  font-weight: 700
  font-family: "DM Sans", sans-serif

.headline4
  font-size: 32px
  font-weight: 700
  font-family: "DM Sans", sans-serif

.hairline2
  font-weight: 700
  font-size: 12px
  font-family: "Poppins", sans-serif

.grey-button2
  font-family: "DM Sans", sans-serif
  color: #FCFCFD
  background: none
  font-size: 14px
  border: 2px solid #353945
  border-radius: 90px
  padding: 6px 16px
  transition: 0.1s
  &:hover
    color: #FCFCFD
    border-color: scale-color(#353945, $lightness: 20%)

.page-title
  border-bottom: 1px solid #23262F
  > .container
    height: 136px
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    @media screen and (max-width: 768px)
      flex-direction: column
      justify-content: center
      align-items: flex-start
      height: 124px
      margin-top: 16px

.page-title__title
  @media screen and (max-width: 768px)
    font-size: 32px
    margin-bottom: 16px

.title__right-block
  display: flex

.arrow-right-simple
  margin: 0 10px

.profile
  margin-top: 80px
  margin-bottom: 80px
  display: flex
  justify-content: space-between
  @media screen and (max-width: 768px)
    flex-direction: column
    align-items: center
    margin: 16px auto

.enter-amount
  max-width: 748px
  flex-grow: 1
  background: #18191D
  border-radius: 16px
  margin-left: 32px
  padding: 40px
  box-sizing: border-box
  @media screen and (max-width: 768px)
    margin-left: 0
    width: 100%
    padding: 16px
  .name, p
    margin: 0
  .blue-button
    font-size: 16px
    float: right
    margin-top: 48px
    @media screen and (max-width: 768px)
      margin-top: 24px
  .my_wallet
    margin-top: 48px
    padding: 10px 20px
    @media screen and (max-width: 768px)
      margin-top: 32px
  .save_settings
    @media screen and (max-width: 768px)
      float: left !important
  .promocode_desc
    margin-top: 12px
  table
    width: 100%
    th
      color: #B1B5C4
    tr:first-child > *
      padding-top: 32px
      padding-bottom: 16px
      border-bottom: 1px solid #23262F

    tr > .last-col
      text-align: right
      width: 64px

    tr > *:nth-of-type(2)
      text-align: left
    tr:not(:first-child) > *
      padding-top: 16px
      padding-bottom: 20px
      border-bottom: 1px solid #353945
    .ip-addres
      width: auto
      text-align: left

    tr:last-child > *
      border: none
  input[type="email"]
    border-color: #353945
  .auth
    margin: 0 auto
    h2
      margin-top: 0

.profile-nav
  width: 100%
  max-width: 260px
  @media screen and (max-width: 768px)
    max-width: 100%
  ul
    @media screen and (max-width: 768px)
      display: none
  a
    display: flex
    align-items: center

  svg
    margin-right: 8px
  ul
    list-style: none

  .active
    svg
      fill: #FCFCFD

    a
      color: #FCFCFD
  li
    &:not(:last-child)
      margin-bottom: 25px

.split
  width: 100%
  border-bottom: 1px solid #23262F
  @media screen and (max-width: 1024px)
    display: none

.country-choose
  background-color: #23262F
  width: 248px
  height: 48px
  border-radius: 48px
  padding: 0 16px
  margin-left: 15px
  @media screen and (max-width: 768px)
    width: 100%
    margin: 24px 0 0
  &:focus-visible
    outline: none

.space-between
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0

.features
  margin-top: 48px
  @media screen and (max-width: 768px)
    margin-top: 24px

.profile-switcher
  height: 20px
  width: 40px
  position: relative
  outline: none
  background-color: rgba(0,0,0,0)
  &:after
    height: 100%
    width: 100%
    content: ''
    position: absolute
    background-color: #353945
    border-radius: 32px
    background-image: url(../img/blue-circle.svg)
    background-repeat: no-repeat
    background-position: 4px center
    transition: background-position .15s ease-in-out
  &:checked
    &:after
      background-color: #1DAEEF
      background-position: 24px center
      background-image: url(../img/white-circle.svg)

.features__block
  margin-top: 40px
  .space-between:not(:first-child)
    margin-top: 24px
  .split
    margin-top: 40px
  @media screen and (max-width: 1024px)
    .space-between:last-child
      margin-top: 40px

.profile-nav__mobile
  display: none
  width: 100%
  box-sizing: border-box
  margin: 0 0 24px
  @media screen and (max-width: 768px)
    display: block

.country-choose_block
  @media screen and (max-width: 768px)
    flex-direction: column
    align-items: flex-start

.reward_count
  margin-right: 8px

.reward_desc
  margin-top: 12px !important

.referral_information
  box-sizing: border-box
  width: 100%
  padding: 32px
  background: #23262F
  border-radius: 16px
  margin-top: 48px
  @media screen and (max-width: 768px)
    margin-top: 32px
  label
    flex-grow: 1
    text-transform: uppercase
    @media screen and (max-width: 768px)
      width: 100%
    &:first-child
      margin-right: 16px
      @media screen and (max-width: 768px)
        margin-right: 0
        margin-bottom: 16px
  input
    margin-top: 12px
    width: 100%
    background: #353945
    border-radius: 12px
    height: 48px
    padding: 0 16px
    outline: none
    border: 2px solid rgba(0,0,0,0)
    &:focus-visible
      border-color: #58BD7D

.referral_inputs
  margin-top: 32px
  @media screen and (max-width: 768px)
    flex-direction: column

.gold_input:focus-visible
  border-color: #FFD166 !important

.promocode
  margin-top: 32px

.location
  background: #FCFCFD
  border-radius: 4px
  display: flex
  justify-content: center
  align-items: center
  padding: 4px 0
  > img
    margin-right: 3px

.right-button
  text-align: center
  padding: 10px 24px
  margin-top: 32px
  @media screen and (max-width: 768px)
    width: 100%

.logout
  display: flex
  justify-content: flex-end

.login-history
  th, td
    &:first-child
      width: 60%
  .ip-addres
    @media screen and (max-width: 768px)
      text-align: right !important

.login-history__title
  margin-top: 48px !important

.password-changed
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  height: fit-content
  .grey-button
    padding: 10px 24px
    margin-top: 32px

.new-password_desc
  margin-top: 16px !important

.wallet-container
  padding: 4px
  display: flex
  @media screen and (max-width: 860px)
    flex-direction: column
    padding: 0 3vw

.left-nav
  background: #18191D
  border-radius: 4px
  width: 256 / 1440 * 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  @media screen and (max-width: 860px)
    width: 100%
    background: none
    margin-top: 60px
  .active
    > *
      color: #FCFCFD
  ul
    margin-top: 24px
    @media screen and (max-width: 860px)
      display: none
    .divider
      margin-left: 0
      position: relative
      &:after
        position: absolute
        width: 100%
        border-bottom: 1px solid #23262F
        content: ''
    li
      height: 48px
      display: flex
      align-items: center
      margin-left: 26px
      a
        display: flex
        align-items: center
        transition: 0.1s
        img
          margin-right: 18px
    li:not(.active)
      a:hover
        color: scale-color(#777E91, $lightness: 20%)

.left-nav__select
  display: none
  background: #23262F
  height: 48px
  border: 2px solid #1DAEEF
  border-radius: 12px
  margin-top: 32px
  @media screen and (max-width: 860px)
    display: block

.wallet-main
  flex-grow: 1
  margin-left: 4px
  @media screen and (max-width: 860px)
    margin: 0
  @media screen and (min-width: 860px)
    overflow-y: scroll
    ms-overflow-style: none
    scrollbar-width: none
    &::-webkit-scrollbar
      width: 0
      height: 0
  > p
    margin-top: 20px
    margin-bottom: 8px
    margin-left: 36px

.overview
  background: #18191D
  border-radius: 4px
  padding: 32px
  display: flex
  justify-content: space-between
  @media screen and (max-width: 860px)
    margin-top: 16px
  @media screen and (max-width: 768px)
    flex-direction: column-reverse
  *
    margin: 0

.currency-code
  background: #58BD7D
  border-radius: 4px
  padding: 4px 8px
  margin-left: 8px
  flex-shrink: 0

.balance
  display: flex
  align-items: center

.overview__title
  margin-bottom: 20px
  @media screen and (max-width: 768px)
    display: none

.overview__title-mobile
  display: none
  @media screen and (max-width: 768px)
    display: block
    margin-bottom: 20px

.overview-right
  height: 40px
  display: flex
  @media screen and (max-width: 768px)
    flex-direction: column
    height: auto
  > *:not(:last-child)
    margin-right: 8px

.search-coin
  width: 256px
  height: 40px
  position: relative
  @media screen and (max-width: 768px)
    margin-bottom: 20px
  input
    width: 100%
    height: 100%
    outline: none
    background-color: inherit
    border: 2px solid #353945
    border-radius: 40px
    padding: 0 16px
  button
    height: 18px
    width: 18px
    display: flex
    justify-content: center
    align-items: center
    background-color: inherit
    position: absolute
    right: 14px
    top: 12px

.currency-select
  width: 90px
  background: #353945
  border-radius: 100px
  padding-left: 16px
  outline: none
  @media screen and (max-width: 768px)
    display: none

.show-balance
  background: #FCFCFD
  border-radius: 90px
  padding: 0 16px
  transition: 0.1s
  @media screen and (max-width: 768px)
    display: none
  &:hover
    background-color: scale-color(#FCFCFD, $lightness: -10%)

.account-balances
  display: flex
  @media screen and (max-width: 768px)
    flex-direction: column
  p
    margin: 0
  .balance-title
    display: flex
    align-items: center
    img
      margin-right: 8px
  > div
    flex-grow: 1
    background: #17181B
    border-radius: 4px
    padding: 20px 0
    &:not(:last-child)
      margin-right: 4px
      @media screen and (max-width: 768px)
        margin-right: 0
        margin-bottom: 4px

.login
  padding: 9px 16px

.accout-balance__top
  display: flex
  align-items: flex-start
  justify-content: space-between
  border-bottom: 1px solid #23262F
  padding: 0 32px 20px

.account-balance__bottom
  margin-top: 20px
  padding: 0 32px
  display: flex
  justify-content: space-between
  .grey-button2
    display: flex
    align-items: center
    img
      margin-left: 18px
  .buttons
    display: flex
    a:not(:last-child)
      margin-right: 8px

.balance-top__right
  display: flex
  flex-direction: column
  align-items: flex-end

.ta-right
  text-align: right

.asset-balances
  width: 100%
  background: #17181B
  border-radius: 4px
  tr
    td, th
      padding-top: 20px
      padding-bottom: 16px
      &:first-child
        padding-left: 32px
      &:last-child
        padding-right: 32px
      &:nth-child(2), &:nth-child(3), &:nth-child(4)
        @media screen and (max-width: 768px)
          display: none
    th
      border-bottom: 1px solid #23262F
    td
      padding-top: 16px
      padding-bottom: 0
      p
        margin: 0
      img
        margin-right: 20px
      &:first-child
        .td__container
          display: flex
  tr:not(:last-child)
    .td__container
      border-bottom: 1px solid #23262F
  tr:hover
    td
      background: #23262F
    .margin-table__buttons
      display: flex

.earn
  padding: 5px 10px
  background: #58BD7D
  border-radius: 4px
  width: fit-content

.td__container
  width: 100%
  height: 48px
  box-sizing: content-box
  padding-bottom: 20px
  position: relative

.left-buttons
  width: 100%
  padding: 0 16px
  @media screen and (max-width: 860px)
    display: flex
    justify-content: space-between
    padding: 0
  a
    display: block
    text-align: center
    padding: 8px 0
    width: 100%
    @media screen and (max-width: 860px)
      width: 31%
  .transfer
    display: none
    @media screen and (max-width: 860px)
      display: block
  .blue-button
    margin-bottom: 12px
    @media screen and (max-width: 860px)
      margin: 0

.wallet-balance-title
  display: flex
  align-items: center
  *:not(:last-child)
    margin-right: 12px

.balance-button
  display: flex
  align-items: center
  @media screen and (max-width: 860px)
    display: none

.account-balances-container
  display: flex
  @media screen and (max-width: 768px)
    flex-direction: column
  .account-balances
    flex-grow: 1
    flex-wrap: wrap
    @media screen and (max-width: 1024px)
      flex-direction: column
    > div
      padding: 20px 32px
      display: flex
      justify-content: space-between
      align-items: flex-start
      @media screen and (max-width: 1024px)
        margin-right: 0
      &:nth-child(2)
        margin-right: 0
        @media screen and (max-width: 1024px)
          margin-top: 4px
      svg
        margin-right: 8px

.balances-last
  width: 100%
  margin-top: 4px

.wallet-rate
  width: 285px
  padding: 24px
  background: #17181B
  border-radius: 4px
  margin-left: 4px
  display: flex
  flex-direction: column
  img
    width: 237px
  @media screen and (max-width: 768px)
    width: 100%
    margin-left: 0
    margin-top: 8px

.green-stroke
  background: #58BD7D
  border-radius: 24px
  padding: 2px 8px

.balance-chart
  flex-grow: 1
  display: flex
  flex-direction: column
  justify-content: flex-end

.margin
  display: flex
  flex-direction: column
  justify-content: space-between

.margin__bottom-block
  display: flex
  justify-content: space-between
  @media screen and (max-width: 920px)
    flex-direction: column
    > div
      &:not(:last-child)
        margin-bottom: 16px

.margin-level
  display: flex
  img
    margin-right: 24px

.funds__search
  background: #17181B
  border-radius: 4px 4px 0 0
  padding: 20px 32px 0
  display: flex
  justify-content: space-between
  @media screen and (max-width: 768px)
    display: none
  a
    height: fit-content
  svg
    margin-left: 13px

.margin-table
  border-radius: 0 0 4px 4px
  td:nth-child(2)
    img
      margin-left: 10px
      display: none
  @media screen and (max-width: 768px)
    border-radius: 4px
  @media screen and (max-width: 768px)
    th:nth-child(2)
      padding-right: 95px
    td:nth-child(2), th:nth-child(2)
      display: table-cell !important
      .total-balance__container
        display: flex
        align-items: flex-start
        img
          display: block
  tr:hover
    @media screen and (min-width: 768px)
      .td__container
        padding-bottom: 70px

.table__currency
  display: flex

.margin-table__buttons
  margin-top: 20px
  position: absolute
  top: 48px
  left: 0
  display: none
  z-index: 100
  @media screen and (max-width: 768px)
    display: none !important
  a
    &:not(:last-child)
      margin-right: 8px

.wallet-modal
  background: #23262F
  border-radius: 20px
  padding: 32px
  width: 448px
  @media screen and (max-width: 768px)
    width: 100%
    min-height: 100vh
    border-radius: 0
    display: flex
    flex-direction: column
  p
    margin: 0

.modal-dialog
  @media screen and (max-width: 768px)
    margin: 0
    max-width: 100%

.wallet-modal__top
  display: flex
  justify-content: space-between
  align-items: center

.wallet-modal__close
  border: 2px solid #353945
  border-radius: 50%
  padding: 10px
  height: fit-content
  display: flex
  justify-content: center
  align-items: center
  color: #FCFCFD
  cursor: pointer
  transition: 0.3s
  background-color: rgba(0,0,0,0)
  &:hover
    color: #c0c0c0

.wallet-modal__content
  margin-top: 32px
  label
    color: #B1B5C4
    text-transform: uppercase
    width: 100%
  input
    display: block
    padding: 12px 16px
    background-color: rgba(0,0,0,0)
    border: 2px solid #353945
    border-radius: 12px
    outline: none
    width: inherit
    margin-top: 12px
  .checkbox
    width: 24px
    height: 24px
    display: inline-block
    margin-right: 12px
    position: relative
  .blue-button
    width: 100%
    margin-top: 32px

  input[type='checkbox']
    cursor: pointer
    width: 24px
    height: 24px
    opacity: 0
    margin: 0
    position: absolute
    z-index: 2
    &:checked
      ~ .custom-checkbox
        background-image: url(../img/check.svg)
        background-position: center center
        background-repeat: no-repeat

  .custom-checkbox
    position: absolute
    top: 0
    width: 100%
    height: 100%
    background-color: #1DAEEF
    border-radius: 4px
    z-index: 1
  select
    outline: none
    padding: 12px
    width: 100%
    border: 2px solid #353945
    border-radius: 12px
    background-color: rgba(0,0,0,0)
    margin-top: 12px

.save-address
  margin-top: 32px
  display: flex
  align-items: center

.available-balance
  margin-top: 32px
  background: #353945
  border-radius: 4px
  padding: 20px 24px
  display: flex
  justify-content: space-between
  > div
    text-align: right

.mt32
  margin-top: 32px !important

.mt12
  margin-top: 12px !important

.amount__input
  width: 100%
  position: relative
  button
    position: absolute
    background-color: rgba(0,0,0,0)
    border: 2px solid #353945
    border-radius: 90px
    padding: 0 14px
    top: 12px
    right: 16px

.from-to-switch
  background: #353945
  border-radius: 32px
  margin-top: 32px
  height: 32px
  width: 32px
  display: flex
  justify-content: center
  align-items: center

.success-container
  display: flex
  align-items: center
  flex-direction: column
  text-align: center
  p
    margin-top: 32px

.status-container
  padding: 24px
  border: 1px solid #353945
  border-radius: 12px
  > p
    margin-top: 10px

.status-transaction
  border-bottom: 1px solid #353945
  padding-bottom: 16px
  display: flex
  justify-content: space-between
  p
    &:nth-child(2)
      margin-top: 10px

.deposit-content
  display: flex
  flex-direction: column
  justify-content: space-between
  flex-grow: 1

.green-square
  width: 12px
  height: 12px
  background: #00C076
  border-radius: 4px

.deposit-currency
  text-align: center

.address-input
  display: flex
  width: 314px
  margin: 0 auto
  input
    background-color: #353945
    margin: 0
    border: none
    border-radius: 4px 0 0 4px
    padding: 8px 8px 8px 16px

  button
    background-color: rgba(0,0,0,0)
    border-radius: 0 4px 4px 0
    background-color: #353945
    padding-right: 16px

.dashed-square
  width: 160px
  height: 160px
  background: url(../img/dashed-square.svg)
  background-size: 100%
  display: flex
  justify-content: center
  align-items: center
  margin: 0 auto

.dashed-square__inner
  width: 128px
  height: 128px
  background-color: #E4D7CF
  border-radius: 8px
  display: flex
  justify-content: center
  align-items: center
  background-image: url(../img/logo-border.svg)
  background-repeat: no-repeat
  background-position: center

.borrow-text
  display: flex
  justify-content: space-between

.borrow-buttons
  display: flex
  justify-content: space-between
  button
    background-color: rgba(0,0,0,0)
    border: 2px solid #353945
    border-radius: 90px
    padding: 0 14px

.borrow
  display: flex
  flex-direction: column
  justify-content: space-between
  flex-grow: 1

.dropdown-toggle::after
  display: none !important

.grey-section
  background: #17181B
  border-radius: 4px
  padding: 16px

.trading-limit__top
  padding: 20px
  display: flex
  justify-content: space-between
  @media screen and (max-width: 768px)
    flex-direction: column
  svg
    margin-right: 4px
  .left, .right
    display: flex
    p
      margin: 0
      &:not(:last-child)
        margin-bottom: 4px
  .left
    @media screen and (max-width: 768px)
      display: flex
      flex-direction: column
    >div
      &:not(:last-child)
        margin-right: 32px
  .right
    @media screen and (max-width: 768px)
      display: flex
      flex-wrap: wrap
      margin-top: 12px
    >div
      width: 160px
      @media screen and (max-width: 768px)
        margin-top: 12px
      @media screen and (max-width: 1230px)
        width: fit-content
      &:last-child
        @media screen and (max-width: 1230px)
          display: none
        @media screen and (max-width: 768px)
          display: block
      &:not(:last-child)
        border-right: 1px solid #23262F
        margin-right: 24px
        @media screen and (max-width: 1230px)
          border-right: none
          margin-right: 20px

.arrow-down-button
  border-radius: 50%
  border: 2px solid #353945
  width: 32px
  height: 32px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  transition: 0.1s
  margin-left: 10px
  &:hover
    border-color: scale-color(#353945, $lightness: 20%)
  svg
    margin: 0

.left-nav, .wallet-main
  @media screen and (min-width: 860px)
    height: calc(100vh - 88px)

.main-sections
  display: flex
  @media screen and (max-width: 860px)
    flex-direction: column-reverse
  > div
    margin: 0 4px 4px
    &:first-child
      width: 256px
      flex-shrink: 0
      @media screen and (max-width: 860px)
        display: none !important
    &:last-child
      width: 256px
      flex-shrink: 0
      @media screen and (max-width: 1230px)
        display: none
    &:nth-child(2)
      flex-grow: 1
      margin-left: 0
      margin-right: 0
    > .grey-section
      &:not(:first-child)
        margin-top: 4px
  .button2
    padding: 4px 12px
    border-radius: 100px
    background-color: rgba(0,0,0,0)
    transition: 0.1s
    &:hover
      color: scale-color($nav, $lightness: 20%)
  .active, .active:hover
    background: #353945
    color: #FCFCFD

.grey-section
  @media screen and (max-width: 768px)
    margin: 16px 16px 0 !important
  .top-left
    display: flex
    select
      background: #23262F
      padding: 8px 6px
      outline: none
      border-radius: 4px
  table
    width: 100%
    th, td
      padding: 4px 0
    td
      z-index: 10
    tr
      position: relative
      &:not(:last-child)
        .red-bar
          height: calc(100% - 4px)
        >*
          padding-bottom: 8px
      >*
        &:not(:first-child)
          text-align: right
  .search-coin
    width: 100%
    margin-top: 12px
    input
      border-radius: 8px

.red-bar
  background: #FF6838
  opacity: 0.15
  height: 100%
  position: absolute
  top: 0
  right: -16px
  z-index: 1

.right-table
  tr
    &:nth-child(n+10)
      @media screen and (max-width: 1230px)
        display: none
  th, td
    padding-bottom: 4px !important
    &:nth-child(2)
      text-align: left !important
  th
    padding-bottom: 16px !important
    button
      color: inherit
      background-color: rgba(0,0,0,0)

.green-bar
  background: #58BD7D

.market-trades
  td
    padding-top: 0 !important
    padding-bottom: 4px !important
  th
    padding-bottom: 16px !important
  tr
    &:nth-child(n+16)
      @media screen and (max-width: 1230px)
        display: none

.buy-sell
  margin-top: 24px

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
  -webkit-appearance: none

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus
  appearance: none
  -moz-appearance: textfield

.buy, .sell
  width: 424 / 912 * 100%
  > button
    width: 100%
    height: 48px
    border-radius: 90px
    margin-top: 12px
  p
    margin: 0
  .input
    margin-top: 12px
    width: 100%
    height: 48px
    border: 2px solid #23262F
    border-radius: 12px
    padding: 0 14px
    display: flex
    justify-content: space-between
    align-items: center
    p
      margin: 0
    input
      flex-grow: 1
      width: 0
      height: 100%
      background-color: rgba(0,0,0,0)
      padding: 0 10px
      outline: none
      text-align: right

.range-container
  margin-top: 12px
  position: relative
  width: 100%
  height: 24px

.slider
  height: 100%
  position: absolute
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  left: 0
  top: 0
  span
    width: 2px
    height: 6px
    background: #777E91
    border-radius: 2px
    z-index: 1
  svg
    position: absolute
    top: 2px
    left: 0
    cursor: grab

.custom-range
  width: 100%
  height: 100%
  appearance: none
  background-color: rgba(0,0,0,0)
  position: absolute
  z-index: 5
  outline: none
  &::-webkit-slider-runnable-track
    background-color: rgba(0,0,0,0)
  &::-webkit-slider-thumb
    cursor: pointer
    appearance: none
    width: 20px
    height: 20px
    border-radius: 50%
    background: #F4F5F6
    border: 4px solid #777E91

.stright
  height: 2px
  width: 100%
  background: #353945
  position: absolute
  left: 0
  top: 50%

.buy
  > button
    background: #58BD7D

.sell
  > button
    background: #FF6838

.bottom-table
  tr
    display: table-row !important
  th, td
    text-align: left !important
    width: 25%
    @media screen and (max-width: 768px)
      width: auto
    &:nth-child(3)
      @media screen and (max-width: 768px)
        text-align: right !important
    &:nth-child(2)
      @media screen and (max-width: 768px)
        text-align: center !important
    &:last-child
      text-align: right !important
      @media screen and (max-width: 768px)
        display: none

.top-left__table
  tr
    @media screen and (max-width: 1230px)
      &:nth-child(n+7)
        display: none

.bottom-left__table
  tr
    @media screen and (max-width: 1230px)
      &:nth-child(n+8)
        display: none

.left-section
  @media screen and (min-width: 1230px)
    flex-grow: 1
  @media screen and (max-width: 1230px)
    padding-bottom: 0

.grey-section-tablet
  display: none
  @media screen and (max-width: 1230px)
    display: block

.trading
  width: 100%
  height: 493px
  background-image: url("../img/trading.svg")
  background-repeat: no-repeat
  background-position: right
  @media screen and (max-width: 768px)
    height: 354px

.course-button
  display: flex
  @media screen and (max-width: 768px)
    width: 100%
    justify-content: space-between
    margin-top: 8px

.trading-interval-select
  display: none
  background: #23262F
  outline: none
  font-family: 'DM Sans', sans-serif
  font-size: 14px
  border-radius: 100px
  padding: 6px 24px 6px 12px
  @media screen and (max-width: 768px)
    display: block

.trading-interval
  @media screen and (max-width: 768px)
    display: none

.buy-sell-section
  @media screen and (max-width: 768px)
    display: none

.bottom-table-select
  display: none
  width: 100%
  background: #23262F
  border: 1px solid #353945
  border-radius: 12px
  font-family: 'Poppins', sans-serif
  font-weight: 600
  font-size: 12px
  padding: 10px 12px
  outline: none
  @media screen and (max-width: 768px)
    display: block

.bottom-table-buttons
  @media screen and (max-width: 768px)
    display: none !important

.sticky-buy-sell
  display: none
  width: 100%
  height: 88px
  background: #18191D
  margin-top: 12px
  padding: 16px
  @media screen and (max-width: 768px)
    display: flex
  .buy, .sell
    width: 0
    flex-grow: 1
    height: 40px
    border-radius: 90px
  .buy
    margin-right: 12px
    background: #58BD7D
  .sell
    background: #FF6838

.sell-buy-modal
  display: flex
  align-items: flex-end
  height: 100%
  .buy, .sell
    width: 100%
    margin-top: 12px
  .modal-content
    border-radius: 0
    border: 0
    background: #18191D
    .main-content
      padding: 16px
  .modal-top
    display: flex
    justify-content: space-between
    align-items: center
    svg
      box-sizing: content-box
      padding: 5px
      cursor: pointer

.buy-sell-active
  background: #FCFCFD !important

.buy-sell-disabled
  background: #23262F !important

.trading-widget
  background-color: rgba(0,0,0,0)
  width: 32px
  height: 32px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  border-radius: 4px
  div
    width: 12px
    height: 2px
    border-radius: 2px
    &:not(:last-child)
      margin-bottom: 2px

.trading-widget.active
  background: #23262F

