<footer>
    <div class="footer-container">
        <a href="" class="logo logo-footer">
            <img src="img/logo.svg" class="logo-image" alt="Logo">
            <span class="logo-text logo-footer-text">Binarrian</span>
        </a>
        <ul>
            <li>Company</li>
            <li><a href="">About us</a></li>
            <li><a href="">Apply to list</a></li>
        </ul>
        <ul>
            <li>Legal</li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms of Use</a></li>
            <li><a href="">Security</a></li>
            <li><a href="">Risk Warning</a></li>
        </ul>
        <ul>
            <li>Service</li>
            <li><a href="">Fees</a></li>
            <li><a href="">Referrals</a></li>
            <li><a href="">Welcome Bonus</a></li>
        </ul>
        <ul>
            <li>Help</li>
            <li><a href="">Support</a></li>
            <li><a href="">FAQ</a></li>
        </ul>
    </div>
    <div class="copyright"><span class="grey">Copyright © 2022 Binarrian. All rights reserved</span></div>
</footer>
