<header>
  <div class="header-container">
    <div class="left-block">
      <a href="" class="logo">
        <img src="img/logo.svg" class="logo-image" alt="Logo">
        <span class="logo-text">Binarrian</span>
      </a>
      <nav class="header-nav">
        <a href="" class="nav-element nl">Terms of Use</a>
        <a href="" class="nav-element nl">Privacy Policy</a>
        <a href="" class="nav-element nl">Risk Warnings</a>
      </nav>
    </div>
    <div class="right-block" style="width: 170px;">
      <a class="blue-button sign-up" href="">Sign up</a>
      <a class="grey-button login" href="">Login</a>
      <div></div>
      <div class="burger"></div>
    </div>
  </div>
</header>